<mat-toolbar color="primary">
 <nav>
    <ul>
        <li>Rosario App</li>
        <li>
          <a class="item" [routerLink]="'rosario'">
            Rosario
          </a>
        </li>
        <li>
          <a class="item" [routerLink]="'sao-jose'">
            Sao Jose
          </a>
        </li>
        <li>
          <a class="item" [routerLink]="'terco'">
            Terco
          </a>
        </li>
        <li>
          <a class="item" [routerLink]="'tercovideo'">
            Terco Em Video
          </a>
        </li>
        <li>
          <a class="item" [routerLink]="'homilia-diaria'">
            Homilia Diaria
          </a>
        </li>
    </ul>
 </nav>
</mat-toolbar>
<router-outlet></router-outlet>
