<header>
  <mat-toolbar color="primary">
    <nav>
         <ul>
            <li>
              <img src="assets/logo-rosary.png" style="object-fit: cover;" width="60px" height="50px"/>
            </li>
           <li>
            <a class="item" [routerLink]="'reflexao'" aria-label="Reflexao">
              Reflexao
            </a>
           </li>
           <li>
             <a class="item" [routerLink]="'rosario'" aria-label="Rosario">
               Rosario
             </a>
           </li>
           <li>
             <a class="item" [routerLink]="'sao-jose'" aria-label="Sao Jose">
               Sao Jose
             </a>
           </li>
           <li *ngIf="isAvailableTresMesesSaoJose">
            <a class="item" [routerLink]="'tres-meses-sao-jose'" aria-label="Tres Meses Sao Jose">
            Tres Meses  Sao Jose
            </a>
          </li>
          <li>
            <a class="item" [routerLink]="'nove-meses-nossa-senhora'" aria-label="Nove Meses  Nossa Senhora">
            Nove Meses  Nossa Senhora
            </a>
          </li>
           <li>
             <a class="item" [routerLink]="'coroinha-ns-senhora'" aria-label="Coroinha Ns Senhora">
               Coroinha Ns Senhora
             </a>
           </li>
           <!-- <li>
             <a class="item" [routerLink]="'terco'" aria-label="Terco">
               Terco
             </a>
           </li> -->
           <li>
             <a class="item" [routerLink]="'tercovideo'" aria-label="Terco em Video">
               Terco Em Video
             </a>
           </li>
           <li>
             <a class="item" [routerLink]="'homilia-diaria'" aria-label="Homilia Diaria">
               Homilia Diaria
             </a>
           </li>
       </ul>
    </nav>
   </mat-toolbar>
</header>
<main>
  <router-outlet></router-outlet>
  <footer>
    <div style="display: flex;flex-direction: row;gap:10px;justify-content: center;background-color: lightgray;">
          <p>&copy; 2022 DexTi Todos os direitos reservados.</p>
          <p>Desenvolvido por DexTi</p>
    </div>
  </footer>
</main>
