
nav  {
  ul{
    display: flex;
    align-items: center;

    li + li{
      margin-left: 10px;
    }

    .item{
      color: white;
    }

    .item:hover{
      cursor: pointer;
      background-color:darkgrey;

    }
  }
}

.footer{
  display: flex;
  flex-direction: row;
  gap:10px;
  justify-content: center;
  background-color: lightgray;
}

@media (max-width:800px) {

  img{
    margin-top: 15px;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  ul li:nth-child(1){
    margin-left: 10px;
  }

  mat-toolbar {
    height: 400px;
    position: fixed;
    top: 0;
    width: 100%;
  }

  nav ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    left: -28px;

  }

  nav ul li:hover{
    cursor: pointer;
    background-color:darkgrey;
  }

  .footer{
    width: 500px;
  }
}





