<header>
  <mat-toolbar color="primary">
    <nav>
       <ul>
           <li  aria-label="Rosario App"  >
            <a class="item" [routerLink]="'prayer'" aria-label="Prayer">
              Rosario App
            </a>
           </li>
           <li>
             <a class="item" [routerLink]="'rosario'" aria-label="Rosario">
               Rosario
             </a>
           </li>
           <li>
             <a class="item" [routerLink]="'sao-jose'" aria-label="Sao Jose">
               Sao Jose
             </a>
           </li>
           <li *ngIf="isAvailableTresMesesSaoJose">
            <a class="item" [routerLink]="'tres-meses-sao-jose'" aria-label="Tres Meses Sao Jose">
            Tres Meses  Sao Jose
            </a>
          </li>
          <li>
            <a class="item" [routerLink]="'nove-meses-nossa-senhora'" aria-label="Nove Meses  Nossa Senhora">
            Nove Meses  Nossa Senhora
            </a>
          </li>
           <li>
             <a class="item" [routerLink]="'coroinha-ns-senhora'" aria-label="Coroinha Ns Senhora">
               Coroinha Ns Senhora
             </a>
           </li>
           <li>
             <a class="item" [routerLink]="'terco'" aria-label="Terco">
               Terco
             </a>
           </li>
           <li>
             <a class="item" [routerLink]="'tercovideo'" aria-label="Terco em Video">
               Terco Em Video
             </a>
           </li>
           <li>
             <a class="item" [routerLink]="'homilia-diaria'" aria-label="Homilia Diaria">
               Homilia Diaria
             </a>
           </li>
       </ul>
    </nav>
   </mat-toolbar>
</header>
<main>
  <router-outlet></router-outlet>
</main>
