<section >
  <article class="start_container">
    <button [disabled]="finished" class="start"  type="button" (click)="startPrayer()" aria-label="Start">
      <mat-icon *ngIf="!finished" class="icon-display">{{startPray ? 'arrow_forward' : 'play_arrow'}}</mat-icon>
      <mat-icon *ngIf="finished" class="icon-display">{{'done'}}</mat-icon>

    </button>
  </article>
  <article *ngIf="misterio$ | async as misterio" class="misterio">
    <h2>{{misterio.title}}</h2>
    <p>{{misterio.content}}</p>
  </article>


  <div class="container">
    <article class="content" *ngIf="startPray">
      <button  class="not_read" style="display: none;" type="button" (click)="activeLeitura()" aria-label="Nao sei Ler">
        <mat-icon class="icon-display">book</mat-icon>
        <mat-icon class="icon-display">sentiment_very_dissatisfied</mat-icon>
      </button>



      <h2>{{titlePrayer$ | async}}</h2>
      <p>

        {{selectedPrayer | async}}
      </p>
    </article>
    <div class="terco">
      <div class="rows">
        <div class="circle terco-item" data-sequence="17" (click)="handlePrayer('holy_mary',$event)"></div>
        <div class="circle" data-sequence="16" style="margin-left: 65px;" (click)="handlePrayer('holy_mary',$event)"></div>
       </div>
       <div class="lines">
        <div class="line"></div>
        <div class="line-right"></div>
       </div>
       <div class="rows">
        <div class="circle" data-sequence="15"(click)="handlePrayer('holy_mary',$event)"></div>
        <div class="circle" data-sequence="14" style="margin-left: 65px;"(click)="handlePrayer('holy_mary',$event)"></div>
       </div>
       <div>
        <div class="line" data-sequence="13" (click)="handlePrayer('holy_mary',$event)"></div>
        <div class="line-right" data-sequence="12" (click)="handlePrayer('holy_mary',$event)"></div>
       </div>
       <div class="rows">
        <div class="circle" data-sequence="11" (click)="handlePrayer('holy_mary',$event)"></div>
        <div class="circle"  data-sequence="10" style="margin-left: 65px;" (click)="handlePrayer('holy_mary',$event)"></div>
       </div>
       <div>
        <div class="line"></div>
        <div class="line-right"></div>
       </div>
       <div class="rows">
        <div class="circle " data-sequence="9" (click)="handlePrayer('holy_mary',$event)"></div>
        <div class="circle" data-sequence="8"  style="margin-left: 65px;" (click)="handlePrayer('holy_mary',$event)"></div>
       </div>
       <div>
        <div class="line"></div>
        <div class="line-right"></div>
       </div>
       <div class="rows">
        <div class="circle " data-sequence="7" (click)="handlePrayer('holy_mary',$event)"></div>
        <div class="circle" data-sequence="6"  style="margin-left: 65px;" (click)="handlePrayer('holy_mary',$event)"></div>
       </div>

       <div class="circle-cross glory"  data-sequence="5"  (click)="handlePrayer('glory',$event)"></div>
       <div class="circle first_mary" data-sequence="4"  (click)="handlePrayer('holy_mary',$event)"></div>
       <div class="circle first_mary" data-sequence="3"  (click)="handlePrayer('holy_mary',$event)"></div>
       <div class="circle first_mary" data-sequence="2"  (click)="handlePrayer('holy_mary',$event)"></div>
       <div class="circle our_father" data-sequence="1"  (click)="handlePrayer('our_father',$event)"></div>
       <div class="cruz" (click)="handlePrayer('credo',$event)" ></div>
    </div>


  </div>

</section>
