section{
  margin-top:0;
  background-color: lightslategrey;
  padding-top: 100px;
  height: 100vh;
  width: 100vw;
}

.not_read{
  padding: 1.5rem;
  border-radius: 15%;
  color:white;
  background-color:transparent;
  font-size:1em;
  text-align: center;
  display: block;
  margin: auto;
}


.start{
  padding: 1.5rem;
  border-radius: 15%;
  color:white;
  background-color:lightgrey;
  font-size:1em;
  text-align: center;
  display: block;
  margin: auto;
}

.icon-display {
  font-size: 25px;
}

.start_container{
  padding-top:8rem;
  margin-bottom: 2rem;
}


.not_read,.start:hover{
  cursor: pointer;
  background-color: #ddd;
  color:black;
}


.content{
  color:black;
  border: 8px solid #ddd;
  width: 400px;
  color: white;
  margin-bottom: 40px;


  p{
    font-size: 1.5em;
    line-height: 1.5rem;
  }
}

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: -2rem;


  .content{
    display: block;
    background-color: gray;
    position: relative;
    top:-380px;
  }
}

.terco{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.rows{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}

.terco-item{
  margin-top: 0;
}

.circle-cross {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #800020		;
}

.circle{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #800020	;

}

.circle_main{
  border-radius: 50%;
  background-color: blueviolet;
  height: 800px;
  width: 600px;
}

.circle,.circle-cross:hover{
  cursor: pointer;

}

.cruz:hover{
  cursor: pointer;
}

.terco-item::after{
  content: "";
	display: block;
	border-left: 100px solid #000;
	padding-top: .5rem;
  margin-top: 1.9rem;
  margin-left: 3.7rem;

}


.circle-cross::after{
  content: "/";
	display: block;
  margin-left: 3.9rem;
  font-size: 9em;
  margin-top: 1.9rem;
  position: relative;
  top: -81.2px;
  left: -1px;
}


.circle-cross::before{
  content: "\\";
	display: block;
  margin-top: 1rem;
  margin-left: 3.9rem;
  font-size: 9.2em;
  position: relative;
  top: -40px;
  left: -105px;
}


.line{
  width: 8px;
  min-height: 128px;
  background: black;

  display: inline-block;
  position: relative;
  top: -10px;
  bottom: -1px;
  left: -65px;
}

.line-right{
  width: 8px;
  min-height: 135px;
  background: black;
  display: inline-block;
  position: relative;
  bottom: -50px;
  right: -65px;
  bottom:0px;
}



.line-right-cross{
  width: 8px;
  min-height: 29px;
  background: black;
  display: inline-block;
  position: relative;
  top: -38px;
  right: -61px;
  bottom:0px;
}





.line-cross{
  width: 8px;
  min-height: 29px;
  background: black;
  display: inline-block;
  position: relative;
  top: -38px;
  left: -61px;
  bottom:0px;
}


.cruz{
  background: black;
  height: 100px;
  position: relative;
  width: 10px;
  margin: auto;
  margin-bottom: 10px;
}

.cruz::after{
  content: "";
	display: block;
	border-left: 200px solid #000;
	padding-top: .5rem;
  margin-top: 1.9rem;
  margin-left: 3.7rem;
  position: relative;
  left: -150px;
}

@media (max-width:800px) {
  .container{
    display: flex;
    flex-direction: column;
    padding-top: 15rem;
    align-items: center;
    justify-content: space-between;
    .content{
      top: 1.8rem;
      display: flex;
      flex-direction: column;

      p{
        padding: 3rem;
      }
    }


  }


  .subtitle,.title{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;

    font-size: 2em;
  }


  section{
    padding-top: 200px;
  }



  .misterio{
    height: auto;
    width: auto;
    margin-bottom: 4rem;
    padding-top: 8rem;
  }
}



.misterio{
height: 200px;
width: auto;
margin-bottom: 2rem;

  p{
    font-size: 1.4em;
    word-break:break-all;
    padding: 0.4rem;
  }

  h2{
    font-size: 2em;
    margin-left: 8px;
  }

}

.bird{
  width: 10rem;
  height: 10rem;
  bottom: 3rem;
  transform: translate(-45vw,0);
  display: block;
  margin: auto;
  object-fit: cover;
  animation: fly 6s ease-in-out alternate infinite;

}

@keyframes fly {
  0% {
    transform: translate(-45vw,0);

  }
  30% {
      transform: translate(15vw,0)
  }
  55% {
      transform: translate(27.5vw,0)
  }
 80% {
      transform: translate(43vw,0)
  }
  100% {
      transform: translate(45vw,0)
  }
}
