<section >
  <aside class="content">
    <button class="not_read" type="button" (click)="activeLeitura()" aria-label="Nao sei Ler">
      <mat-icon class="icon-display">book</mat-icon>
      <mat-icon class="icon-display">sentiment_very_dissatisfied</mat-icon>
    </button>


    <h2>{{titlePrayer$ | async}}</h2>
    <p>

      {{selectedPrayer | async}}
    </p>
  </aside>
  <div class="container">
   <div class="rows">
    <div class="circle terco-item" (click)="handlePrayer('holy_mary',$event)"></div>
    <div class="circle" style="margin-left: 65px;" (click)="handlePrayer('holy_mary',$event)"></div>
   </div>
   <div class="lines">
    <div class="line"></div>
    <div class="line-right"></div>
   </div>
   <div class="rows">
    <div class="circle" (click)="handlePrayer('holy_mary',$event)"></div>
    <div class="circle" style="margin-left: 65px;"(click)="handlePrayer('holy_mary',$event)"></div>
   </div>
   <div>
    <div class="line" (click)="handlePrayer('holy_mary',$event)"></div>
    <div class="line-right" (click)="handlePrayer('holy_mary',$event)"></div>
   </div>
   <div class="rows">
    <div class="circle" (click)="handlePrayer('holy_mary',$event)"></div>
    <div class="circle" style="margin-left: 65px;" (click)="handlePrayer('holy_mary',$event)"></div>
   </div>
   <div>
    <div class="line"></div>
    <div class="line-right"></div>
   </div>
   <div class="rows">
    <div class="circle " (click)="handlePrayer('holy_mary',$event)"></div>
    <div class="circle" style="margin-left: 65px;" (click)="handlePrayer('holy_mary',$event)"></div>
   </div>
   <div>
    <div class="line"></div>
    <div class="line-right"></div>
   </div>
   <div class="rows">
    <div class="circle " (click)="handlePrayer('holy_mary',$event)"></div>
    <div class="circle" style="margin-left: 65px;" (click)="handlePrayer('holy_mary',$event)"></div>
   </div>

   <div class="circle-cross"  (click)="handlePrayer('glory',$event)"></div>
   <div class="circle"  (click)="handlePrayer('holy_mary',$event)"></div>
   <div class="circle"  (click)="handlePrayer('holy_mary',$event)"></div>
   <div class="circle"  (click)="handlePrayer('holy_mary',$event)"></div>
   <div class="circle"  (click)="handlePrayer('our_father',$event)"></div>
   <div class="cruz" (click)="handlePrayer('credo',$event)" ></div>

  </div>

</section>
