
@import '../../../globalStyles.scss';

.grid{
  padding-top: 80px;
}

@media  (max-width:800px){
  .grid{
    display: grid;
    grid-template-columns: repeat(1,400px,1fr);
    padding-top: 150px;
    background-color: lightslategrey;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 100%;


  .subtitle{
    text-align: center;
  }


  iframe{
    width: 300px;
    height: 200px;
    margin-top: 0;
  }

  }

}
