<section>
  <ul>
    <li (click)="actualMisterio()">Misterio do Dia</li>
    <li (click)="handleMisterio('gozosos')">Gozosos (Segunda e Sabado)</li>
    <li (click)="handleMisterio('dolorosos')"> Dolorosos (Terca e Sexta)</li>
    <li (click)="handleMisterio('luminosos')">Luminosos (Quinta)</li>
    <li (click)="handleMisterio('gloriosos')">Gloriosos (Quarta e Domingo)</li>
  </ul>

  <h2 *ngIf="titleMisterio">Misterio de Hoje {{titleMisterio}}</h2>

  <iframe
  allowfullscreen
[src]="url | safe"
>
</iframe>
</section>
