<section style="background-color: #ddd;height:100vh;">
  <ul>
    <li (click)="actualMisterio()">Misterio do Dia</li>
    <li (click)="handleMisterio('gozosos')">Gozosos (Segunda e Sabado)</li>
    <li (click)="handleMisterio('dolorosos')"> Dolorosos (Terca e Sexta)</li>
    <li (click)="handleMisterio('luminosos')">Luminosos (Quinta)</li>
    <li (click)="handleMisterio('gloriosos')">Gloriosos (Quarta e Domingo)</li>
  </ul>

  <h2 style="text-align: center;" *ngIf="titleMisterio">Misterio de Hoje {{titleMisterio}}</h2>

  <iframe width="1000" height="500" style="margin-left:110px;margin-top:120px;"
[src]="url | safe">
</iframe>
</section>
