.title{
  color:white;
  line-height: 1.5rem;
  text-align: center;
  font-size: 3em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.subtitle{
  color: white;
  line-height: 1rem;
  font-size: 1.4em;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

iframe{
  width: 700px;
  height: 400px;
}


.grid{
  display: grid;
  grid-template-columns: repeat(1,400px,1fr);
  padding-top: 30px;
  background-color: lightslategrey;
  align-items: center;
  justify-content: center;
  justify-items: center;
  height: 100%;
}
